*{
    margin: 0;
    padding: 0;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    min-height: 100vh;
    min-height: 100dvh;
    background-color: white;
    display: grid;
    grid-template-columns: auto 1fr;
    position: fixed;
}

#sidebar{
    box-sizing: border-box;
    height: 100vh;
    width: 265px;
    padding: 5px 1em;
    background-color: rgb(20, 31, 53);
    position: sticky;
    top: 0;
    align-self: start;
}

#sidebar ul{
    list-style: none;
}

#sidebar ul li.active a{
    background-color: rgb(65, 83, 116);
}

#sidebar a{
    border-radius: .5em;
    padding: .85em;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 1em;
}

#sidebar svg{
    flex-shrink: 0;
    fill:white;
}

#sidebar a:hover{
    background-color: rgb(41, 54, 79)
}

footer{
    background-color: rgb(20, 31, 53);
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

#itemTable{
    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }
}